# Byte-compiled files
__pycache__/

# Local virtual environment
.venv/

# PyCharm
.idea/

# Local package installation
*.egg-info/

# pytest coverage report
.coverage

# pyenv version file
.python-version
